# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space

# cs files
[*.cs]
indent_size = 2

# Xml files
[*.xml]
indent_size = 2
